* {
  /* Spacing */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

a {
  color: #1d71b8;
}

/* Font */
body {
  font-family: sans-serif;
  font-size: 1.05em;
}

/* Menubar */
aside {
  position: fixed;
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: #FDEAA8;
  /*
  gelb: FBDA6A
  blasses orange: FFB366
  35742C dunkles grün
  BCCC4F
    Blau: 4C74A3
    Häßliches Grün: 767938
    Blau 2: 8392AB

    #8eb791
    #7390bf
  */
}

aside * {
  text-align: center;
  margin: 3% 0 3% 0;
}

aside li {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.1s ease;
  background-color: #fce592;
}

aside li:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 0.1s ease;
}

aside img {
  display: block;
  width: 256px;
  margin: 15% auto 10%;
}

/* Links */
a {
  text-decoration: none;
}

/* Wrapper */
.wrapper {
  margin-left: 20%;
}

#banner {
  background-image: url('../IMG/banner.jpg');
  background-size: 100%;
  width: 100%;
  /*padding-top: 30.6775407779%;*/
  /*padding-top: 30.6701785191%;*/
  padding-top: 30.6666666667%;
  height: 0;
}

.wrapper section {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
}

h2 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 50px;
   padding-top: 50px;
   margin-top: -50px;
}

h2 span {
    background:#fff;
    padding:0 10px;
}

h3 {
  margin-bottom: 15px;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

thead td {
  text-align: center;
}

.event_agreed {
  background-color: #BCF5A9;
}

.event_cancelled {
  background-color: #F5BCA9;
}

/* Footer */
footer {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
